{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="info-section">
        <h2>Set Auction Initials</h2>

        <form method="POST" action="/admin/init/post">
            {{ form.hidden_tag() }}

            <div class="form-group mb-3">
                <label>{{ form.StartingBid.label.text }}</label><br>
                {{ form.StartingBid(class="form-control") }}
            </div>

            <div class="form-group mb-3">
                <label>{{ form.BidDecrement.label.text }}</label><br>
                {{ form.BidDecrement(class="form-control") }}
            </div>

            <div class="form-group mb-3">
                <label>{{ form.MaxBidPercentage.label.text }}</label><br>
                {{ form.MaxBidPercentage(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}