{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="info-section">
        <h2>{{ title }}</h2>

        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <p>
                {{ form.display_name.label }}<br>
                {{ form.display_name(size=32) }}
            </p>

            <p>
                {{ form.IdentificationKey.label }}<br>
                {{ form.IdentificationKey(size=32) }}
            </p>

            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </p>

            <p>{{ form.submit() }}</p>
        </form>
    </div>
</div>
{% endblock %}
